 
    <div class="form-inline">
        <h4>Waiting for Others</h4>
        
         
     
    </div>

    <table id="example" class="table table-striped " >
        <thead>
            <tr>
                <th>Subject</th>
                <th>Status</th>
                <th>Last Changes</th>
                <th>Folder</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td>
                    <input type="checkbox">
                    <i class="fa fa-exclamation-circle mr-2 ml-3" aria-hidden="true"></i>  
                    <b>AMC order for Avaya AMC</b>
                    <p class="ml-5 pl-2">From: kumar</p>
                
                </td>
                <td>Waiting for Others</td>
                <td>7/1/2020</td>
                <td><a class="btn btn-sm btn-info text-light">Sent</a>
                    <a class="btn btn-sm btn-info text-light ml-3">Inbox</a>
                </td>
                <td colspan="2">

                    <div class="dropdown">
                        <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                          Move
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Link 1</a>
                          <a class="dropdown-item" href="#">Link 2</a>
                          <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                      </div>

                </td>
                


            </tr>

            <tr>
                <td>
                    <input type="checkbox">
                    <i class="fa fa-exclamation-circle mr-2 ml-3" aria-hidden="true"></i>  
                    <b>AMC order for Avaya AMC</b>
                    <p class="ml-5 pl-2">From: kumar</p>
                
                </td>
                <td>Waiting for Others</td>
                <td>7/1/2020</td>
                <td>
                    <!-- <a class="btn btn-sm btn-info text-light">Sent</a> -->
                    <a class="btn btn-sm btn-info text-light ml-3">Inbox</a>
                </td>
                <td colspan="2">

                    <div class="dropdown">
                        <button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown">
                          Move
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Link 1</a>
                          <a class="dropdown-item" href="#">Link 2</a>
                          <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                      </div>

                </td>


            </tr>

            
        </tbody>
    </table>
 
