<!-- <p>register works!</p> -->

<div class="register">
    <div class="container">
        <div class="text-center">
            <h1>Try DocuSign free for 30 Days</h1>
            <h6 class="mt-3">No credit card required</h6>
        </div>
        <div class="login-card">
            <form [formGroup]="registerForm">
                <div class="">
                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">First Name*</label>
                                    <input type="text" formControlName="first_name" class="form-control"
                                    [ngClass]="{ 'is-invalid': r.first_name.touched && r.first_name.errors && this.registerForm.invalid }">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Last Name*</label>
                                    <input type="text" formControlName="last_name" class="form-control"
                                    [ngClass]="{ 'is-invalid': r.last_name.touched && r.last_name.errors && this.registerForm.invalid }">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Email*</label>
                                    <input type="text" formControlName="email" class="form-control"
                                    [ngClass]="{ 'is-invalid': r.email.touched && r.email.errors && this.registerForm.invalid}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Phone*</label>
                                    <input type="text" formControlName="phone" class="form-control"
                                    [ngClass]="{ 'is-invalid': r.phone.touched && r.phone.errors && this.registerForm.invalid}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Job Title*</label>
                                    <input type="text" formControlName="job_title" class="form-control"
                                    [ngClass]="{ 'is-invalid': r.job_title.touched && r.job_title.errors && this.registerForm.invalid }">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="">Industry*</label>
                                    <select name="" id="" class="form-control" formControlName="industry"
                                    [ngClass]="{ 'is-invalid': r.industry.touched && r.industry.errors && this.registerForm.invalid }">
                                        <option value="">Accounting & Tax</option>
                                        <option value="">Business Services / Consulting</option>
                                        <option value="">Construction</option>
                                        <option value="">Education</option>
                                        <option value="">Financial Services </option>
                                        <option value="">Government</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-block btn-warning" (click)="register()">GET STARTED</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <a routerLink="/login">Already have an account? Signin</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>