<!-- <p>drafts works!</p> -->

<div class="inbox">
    <div class="container-fluid">
        <div class="">
            <div class="top-section">
                <div><h2>Drafts</h2></div>
                <div class="top-right-filters">
                    <div>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    &nbsp;&nbsp;
                    <div>
                        <i class="fa fa-filter"></i> FILTERS
                    </div>
                </div>
            </div>
            <div class="inbox-mails mt-5">
                <div class="mails-table">
                    <table class="table">
                        <thead>
                            <th></th>
                            <th>Subject</th>
                            <th>Status</th>
                            <th>Last Change</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr class="border-bottom">
                                <td>
                                    <input type="checkbox">&nbsp;&nbsp;
                                    <i class="fa fa-pencil-square-o"></i>
                                </td>
                                <td>
                                    <p class="mb-0"><strong>Please Docusign: Document12345.pdf</strong></p>
                                    <span class="to-status">To: Sujatha M</span>
                                </td>
                                <td>
                                    <span class="to-status">Draft</span>
                                </td>
                                <td>
                                    <p class="mb-0 to-status">03/11/2020</p>
                                    <span class="time">09:45:23 am</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn form-inline dropdown-toggle" data-toggle="dropdown">MOVE</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Forward</a>
                                            <a class="dropdown-item">Create a copy</a>
                                            <a class="dropdown-item">Save as Template</a>
                                            <a class="dropdown-item">History</a>
                                            <a class="dropdown-item">Export as CSV</a>
                                            <a class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="border-bottom">
                                <td>
                                    <input type="checkbox">&nbsp;&nbsp;
                                    <i class="fa fa-pencil-square-o"></i>
                                </td>
                                <td>
                                    <p class="mb-0"><strong>Please Docusign: Document12345.pdf</strong></p>
                                    <span class="to-status">To: Sujatha M</span>
                                </td>
                                <td>
                                    <span class="to-status">Draft</span>
                                </td>
                                <td>
                                    <p class="mb-0 to-status">14/09/2020</p>
                                    <span class="time">09:45:23 am</span>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn form-inline dropdown-toggle" data-toggle="dropdown">MOVE</button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item">Forward</a>
                                            <a class="dropdown-item">Create a copy</a>
                                            <a class="dropdown-item">Save as Template</a>
                                            <a class="dropdown-item">History</a>
                                            <a class="dropdown-item">Export as CSV</a>
                                            <a class="dropdown-item">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>