<nav class="navbar navbar-expand-lg navbar-light bg-light p-3 justify-content-center">
    <a class="navbar-brand" href="#"><h3>Auto Sign</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse ml-5 pl-5" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active ml-4">
          <a href="/home" routerLink="/home" routerLinkActive="active" class="nav-link" >Home</a>
        </li>
        <li class="nav-item ml-4">
          <a href="/document" routerLink="/document" routerLinkActive="active"  class="nav-link" >Manage</a>
        </li>
        <li class="nav-item ml-4">
          <a class="nav-link" href="#">Template</a>
        </li>
        <li class="nav-item ml-4">
          <a href="/adddocument" routerLink="/adddocument" routerLinkActive="active" class="nav-link" >Add Document</a>
        </li>
      </ul>
      <ul class="form-inline my-2 my-lg-0">
        
        
        <li class="nav-item">
          <a class="nav-link " href="#">My Profile</a>
        </li>
  
  
      </ul>
    </div>
  </nav>  
  
  