<div class="container-fluid">
    <div class="jumbotron ">
        <div class="top-heading">
            <h3 class="text-center">Sign or Get Signature</h3>
            <div class="dropdown">
                <button class="btn btn-warning form-inline dropdown-toggle" data-toggle="dropdown">New</button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/adddocument']">Send in Envelope</a>
                    <a class="dropdown-item">Sign a Document</a>
                    <a class="dropdown-item">Use a Template</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="border-right left-part" id="sidebar-wrapper">
                    <!--university-->
                    <div class="sidebar-heading ">
                        <span class="">Overview </span>
                        <span class="">last 6 months</span>
                    </div>
                    <div class="sidebar-heading ">
                        <div>
                            <i class="fa fa-exclamation-circle mr-2" aria-hidden="true"></i>
                            Action Required
                        </div>
                        <div>
                            <span class="">3</span>&nbsp;<i class="fa fa-chevron-right "></i>
                        </div>
                    </div>
                    <div class="sidebar-heading ">
                        <div>
                            <i class="fa fa-clock-o mr-2" aria-hidden="true"></i> Waiting for
                            Outhers
                        </div>
                        <div>
                            <span class="">4</span>&nbsp;<i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                    <div class="sidebar-heading ">
                        <div>
                            <i class="fa fa-warning mr-2" aria-hidden="true"></i>Exparing
                            Soon
                        </div>
                        <div>
                            <span class="">1</span>&nbsp;<i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                    <div class="sidebar-heading ">
                        <div>
                            <i class="fa fa-check mr-2" aria-hidden="true"></i>Completed
                        </div>
                        <div>
                            <span class="">9</span>&nbsp;<i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 middle-part">
                <h4>What's New</h4>
                <div>
                    <h6 class="mt-3">Comments</h6>
                    <p class="text-justify"> Ask and answer questions about documents and receive real-time comment
                        notifications.
                        <a>More info</a>
                    </p>
                </div>
                <div>
                    <h6 class="mt-3">Bulk Send for multiple Recipients</h6>
                    <p class="text-justify">Include multiple recipients in each envelope.
                        Send to more recipient types and specify envelope custom field values
                    </p>
                </div>
                <div>
                    <h6 class="mt-3">Template Sorting</h6>
                    <p class="text-justify">Sort your templates by name.</p>
                </div>

            </div>

            <div class="col-md-4">

                <h4>My docusign</h4>
                <div class="form-inline mt-3">
                    <img src="../../assets/images/profile.png" class="rounded-circle" width="50">
                    <p class="ml-3">anilkumar@gmail.com</p>

                </div>
                <p class="mt-3">Signature</p>
            </div>

        </div>
    </div>